In [5]:
a=3
b=4

In [6]:
a/b
a**b

81

In [7]:
#문자열 
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [7]:
#문자열 여러줄
multilin ='''
Life is too short
You need pyhon
'''
print(multilin)

Life is too short
You need pyhon

In [8]:
#문자열 연산 : + , *, 
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [13]:
#문자열 인덱스
a="Life is too short"
print(a[0],a[3], a[-1])

L e t

In [14]:
a[0:4]

'Life'

In [15]:
a[5:]

'is too short'

In [16]:
a="200110331Rainy"
year=a[:4]
day=a[4:8]
weathe = a[8:]
print(year,"년",day,"일",weathe)

2001 년 1033 일 1Rainy

In [19]:
#문자열 문자열 변경
a = "pithon"
a[1]='y'
a
# 에러난 이유는 : 문자열 자체를 바꿀 수 없다

TypeError: 'str' object does not support item assignment

In [4]:
a = "pithon"
a[:1] + 'y' + a[2:]

'python'

In [5]:
#문자열 포매팅
number = 3
"I eat %d apples. "  %number

'I eat 3 apples. '

In [7]:
number = 3
day = "three"
"I eat %d apples. %s days"  %(number, day)
"I eat %d apples. %10s days"  %(number, day)

'I eat 3 apples.      three days'

In [21]:
#문자열 format 함수 이용
number = 3
day = "three"
"I eat {0} apples.{1} days"  .format(number, day)

'I eat 3 apples.three days'

In [12]:
#문자열 함수
a= "hobby"
a.count("b") #2
a.find('y') #4
a.find('k') #-1
a.index('y') #4

4

In [13]:
#문자열 삽입
a = ","
a.join('abcd')

'a,b,c,d'

In [15]:
a='  hi   '
a.upper()
a.lower()
a.lstrip()
a.rstrip()
a.strip()

'hi'

In [17]:
#문자열 바꾸기
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [19]:
#문자열 나누기
a = "Life is too short"
a.split()
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

In [1]:
#고급 문자열, 인덱스와 이름 혼용
"I lat {0} apples. so I was sick for {day} days." .format(10, day=3)

'I lat 10 apples. so I was sick for 3 days.'

In [4]:
#문자열 왼쪽정렬
"{0:<10}" .format("hi")

'hi        '

In [5]:
#문자열 오른쪽 정렬
"{0:>10}" .format("hi")

'        hi'

In [6]:
#문자열 가운데 정렬
"{0:^10}" .format("hi")

'    hi    '

In [7]:
#문자열 공백 채우기
"{0:=^10}" .format("hi")

'====hi===='

In [8]:
#소수점 표현
y=3.42134456
"{0:0.4f}".format(y)

'3.4213'

In [9]:
y=3.42134456
"{0:10.4f}".format(y)

'    3.4213'