In [ ]:
#======================================
# 리스트
#=======================================

In [3]:
#리스트 인덱싱
a=[1,2,3]
a
a[0]+a[2]

4

In [4]:
a=[1,2,3,['a','b','c']]
a[0]

1

In [5]:
a[3]

['a', 'b', 'c']

In [6]:
a[3][0]

'a'

In [14]:
#리스트 슬라이싱
a=[1,2,3,4,5]
a[0:2]
a[:2]
a[2:]

[3, 4, 5]

In [15]:
a=[1,2,3,['a','b','c'],4,5]
a[3][:2]

['a', 'b']

In [16]:
#리스트 연산자
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [17]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
a+"hi"

TypeError: can only concatenate list (not "str") to list

In [19]:
str(a)+"hi"

'[1, 2, 3]hi'

In [31]:
#리스트 수정, 변경 및 삭제
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [32]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [22]:
a[1] = ['a','b','c']
a

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [33]:
a[1:3]=[]
a

[1, 'c', 4]

In [34]:
del a[1]
a

[1, 4]

In [38]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [39]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [41]:
#정렬
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [42]:
#뒤집기
a.reverse()
a

[4, 3, 2, 1]

In [5]:
#index
a=[1,2,3]
a.index(0)

ValueError: 0 is not in list

In [44]:
#insert
a.insert(0,4)

In [45]:
a

[4, 1, 2, 3]

In [46]:
# 첫번째로 나오는 3을 삭제
a.remove(3)

In [48]:
a

[4, 1, 2]

In [49]:
#pop :리스트의 맨 마지막 요소를 돌려주고 그 요소를 삭제하는 함수
a=[1,2,3]
a.pop()

3

In [50]:
a

[1, 2]

In [51]:
a=[1,2,3]
a.pop(1)

2

In [52]:
a

[1, 3]

In [58]:
a=[1,2,3,1]
a.count(1)

2

In [59]:
#리스트 +리스트 extent
a=[1,2,3]
b=[4,5,6]
a.extend(b)

In [60]:
a

[1, 2, 3, 4, 5, 6]

In [62]:
#======================================
# 튜플
# 리스트와 다른점은 요소 뒤에 반드시 콤마(,)를 붙어야 되고, ()는 생력 가능 튜플의 항목값은 변화 시킬수 없다.ㅅ
#=======================================

In [63]:
t1=(1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [65]:
#======================================
# 딕셔너리
# key = value  key는 고유값 으로 에러는 안남. 마지막 고유값에 value 출력
#=======================================

In [71]:
dic = {'name':'pey', 'phone':'01022112334','birth':'1111'}
a = {1:'hi'}
a={'a':[1,2,3]}

In [73]:
#딕셔너리 쌍 추가
a={1:'a'}
a[2]='b'
a

{1: 'a', 2: 'b'}

In [75]:
a['name']='pay'
a

{1: 'a', 2: 'b', 'name': 'pay'}

In [76]:
#요소 삭제하기
del a[1]
a

{2: 'b', 'name': 'pay'}

In [77]:
a = {'name':'pey', 'phone':'01022112334','birth':'1111'}
a.keys()

dict_keys(['birth', 'phone', 'name'])

In [78]:
for k in a.keys():
    print(k)

birth
phone
name

In [79]:
#딕셔너리 리스트 변환
list(a.keys())

['birth', 'phone', 'name']

In [80]:
a.values()

dict_values(['1111', '01022112334', 'pey'])

In [81]:
a.items()

dict_items([('birth', '1111'), ('phone', '01022112334'), ('name', 'pey')])

In [84]:
#모두 지우기
a.clear()
a

{}

In [87]:
a = {'name':'pey', 'phone':'01022112334','birth':'1111'}
a.get('name') #a.get('a') Null  a['a'] Error

'pey'

In [88]:
#딕션어리 안 조사
'name' in a

True

In [89]:
'email' in a

False

In [90]:
#======================================
# 집합 자료형
# set 키워드를 이용하여 만들수 있다.
#=======================================

In [91]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [93]:
# Hello 에서 l 이 빠짐, 특징, 중복을 허용하지 않는다. 순서가 없다
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [95]:
#리스트로 변환
lst = list(s1)
lst

[1, 2, 3]

In [96]:
#튜플로 변환
t1 = tuple(s1)
t1

(1, 2, 3)

In [97]:
#교집합/합칩합/차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [98]:
s1.intersection(s2)

{4, 5, 6}

In [99]:
#합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
#차집합
s1 - s2

{1, 2, 3}

In [103]:
s2 - s1

{7, 8, 9}

In [104]:
s1.difference(s2)

{1, 2, 3}

In [105]:
#값 추가
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [106]:
#여러개 추가
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [107]:
#특정 값 제거
s1.remove(2)
s1

{1, 3, 4, 5, 6}

In [108]:
#======================================
# 자료형 참과 거짓
#=======================================

In [110]:
a = [1,2,3,4]
while a:
        print(a.pop())

4
3
2
1

In [119]:
if [1,2,3]:
    print("True")
else:
    print("False")

True

In [120]:
#변수 만들기
a, b = ('python','life')

In [122]:
a

'python'

In [124]:
a=3
b=5
a, b = b, a
a

5

In [132]:
# 메모리에 생성된 변수 없얘기
a =3
del(a)

In [135]:
#리스트를 변수에 넣고 복사할 경우
a=[1,2,3]
b =a 
a[1]=4
a

[1, 4, 3]

In [136]:
b

[1, 4, 3]

In [137]:
#: 이용
a =[1,2,3]
b= a[:]
a[1]=4
a

[1, 4, 3]

In [138]:
b

[1, 2, 3]

In [140]:
#copy 사용
from copy import copy
b = copy(a)
b is a

False